<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<link rel="icon" href="/img/icon1.jpg">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	{{>heasder}}
	<p>{{errormsg}}</p>
	{{>footer}}

</body>
</html>