<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon" href="/img/icon1.jpg">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
{{>heasder}}
<img class="portrait" src="/img/index.jpg">

{{>footer}}
</body>
</html>